<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-10 col-md-8 col-lg-6">

      <!-- Form -->
      <form class="additems-form" action="/additems" method="post">

        <div class="form-group">
          <input type="text" name="art" class="form-control" placeholder="art" required>
        </div>
        <div class="form-group">
          <input type="text" name="title" class="form-control" placeholder="title" required>
        </div>
        <div class="form-group">
          <textarea class="form-control" name="description" rows="3" placeholder="description"></textarea>
        </div>
        <div class="form-group">
          <input type="text" name="photolink" class="form-control" placeholder="link to photo" required>
        </div>
        <div class="form-row">
          <div class="col">
            <input type="number" name="price" class="form-control" placeholder="price" required>
          </div>
          <div class="col">
            <input type="number" name="quantity" class="form-control" placeholder="quantity" required>
          </div>
        </div>

        <div class="form error"></div>

        <div class="text-center mt-3">
          <button type="submit" class="btn btn-secondary">add item</button>
        </div>

      </form>
      <!-- Form end -->

    </div>
  </div>
</div>
